## Build results
bin/
obj/

## Visual Studio workspace
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## ASP.NET secrets
secrets.json

## Rider IDE
.idea/

## Logs
*.log

## User-specific files
*.vspscc
*.vssscc

## IIS Express
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

## Others
*.dbmdl
*.db

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NCrunch
*.ncrunchproject
*.ncrunchsolution
*.nunit.xml

# Coverage
coverage/
*.coverage
*.coveragexml

# EF Core Migrations history
Migrations/
